@{
    ViewBag.ShowNavbar = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Company

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <form asp-action="LogInCompany" asp-controller="Company" method="post">
        <div class="LogInFormContainer">
            <div class="mb-3">
                <label asp-for="Email" for="exampleFormControlInput1" class="form-label">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label asp-for="Password" for="exampleFormControlInput1" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleFormControlInput1">
            </div>

            <button type="submit"> LogIn </button>
        </div>

        @*
        <label asp-for="Email">Enter Email</label>
        <input asp-for="Email" />

        <label asp-for="Password">Enter Password</label>
        <input asp-for="Password" /> *@

    </form>




</body>
</html>



